<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설챗 채팅방</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="modal" onclick="$(this).removeClass(`modal_show`)">
        <div class="modal_text">존재하지 않는 이메일이에요.</div>
    </div>

    <div class="divver">
        <div class="window">
            <div class="section">
                <div class="section_title">이름</div>
                <input class="section_input" type="text" placeholder="이름" id="name"></input>
            </div>
            <div class="section">
                <div class="section_title">비밀번호</div>
                <input class="section_input" type="password" placeholder="비밀번호" id="password" onkeyup="enter()"></input>
            </div>
            <div class="btn_go" onclick="login()">
                <i class="fas fa-paper-plane"></i> 로그인
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>